node_modules/
target/
!.mvn/wrapper/maven-wrapper.jar
.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.metadata

### NetBeans ###
nbproject/private/
build/
nbbuild/
nbdist/
.nb-gradle/

*.class
/middle/target
middle/conf/ip.repuatation
middle/logs/main.log
Test.java
node_modules
node
maxCpmpute
middle/logs
main.log
logs
ip.repuatation

/bdweb-mirror/conf/*.save

bdweb-web2/web
bdweb-ui
node
bdweb-mirror/src/test
*.log
/bdweb-mirror/conf/flood.yaml
/bdweb-mirror/conf/log4j2.xml
/bdweb-mirror/system/DGA_DOMAIN
package-lock.json
DGA_DOMAIN
